@charset "utf-8";
/* CSS Document */
body,form,p,lable,input{margin:0; padding:0;}

#list{
	width:420px;
	height:474px;
	background:url(../image/badk5.jpg) no-repeat;
	padding:110px 0 0 110px;
	font-size:14px;
	font-family:"微软雅黑";
	color:#7b6c55;
}
p{
	width:260px;
	height:37px;
	padding-left:50px;
	line-height:23px;
	font-size:16px;
}
label{
	display:block;
	width:210px;
	padding:18px 0 0 50px;
}
.one{padding-bottom:20px;}

